# NYC Vehicles Crash Data Cleaning

### Setting up the DF

In [319]:
import pandas as pd
import numpy as np

#def set_and_load_up_dfs():
file = 'data_100000.csv'
df_original = pd.read_csv(file, sep =",", parse_dates=[['crash_date', 'crash_time']])
df_original.rename(columns={"crash_date_crash_time": "date_time"}, inplace=True)
lowercase = lambda x: str(x).lower()
df_original.rename(lowercase, axis="columns", inplace=True)
df_copy = df_original.copy()
df_more_copy = df_copy.copy()

# Additional Functions

In [ ]:
#def check_for_binary_columns(df):
#for column in df_copy.columns:
#    if (len(df_copy[column].unique())) == 2:
#        print('COLUMN', column)
#        print('How many unique values : ', len(df_copy[column].unique()))
#        print(df_copy[column].value_counts())

#def fill_nan_in_latitude_longitude(df):
#list_of_columns_to_fill = ['latitude', 'longitude']
#for column in list_of_columns_to_fill:
#    df_copy[column].fillna(-1, inplace=True)

#print(df_copy.head(100))

#def drop_columns_more_copy(df):
#df_more_copy.drop(columns=['zip_code',
#                     'location',
#                     'on_street_name',
#                     'off_street_name',
#                     'cross_street_name',
#                     'collision_id'],
#                     inplace=True)

#####Get to know your DF#####

#def df_info():
    #print(df_original.head())
    #print('#########################'\n)
#print('#########################\n')
#print(df_copy.info())
#print('#########################\n')
#print(df_original.info())

    #print(df_original.describe())
    #print('#########################'\n)
    #print(df_original.columns)
    #print('#########################'\n)
    #print(df_original.dtypes)


#def check_for_duplicates():
    #print('Check Original Dataframe for Duplicates\n'
          #'####################################')
    #print(df_original.duplicated().value_counts())

#def value_counts_original_dataframe(df):
#print('Value counts for columns in Original Dataframe\n'
#        '##########################')
#for column in df_original.columns:
#    print('COLUMN', column)
#    print('how many unique values:', len(df_original[column].unique()))
#    print(df_original[column].value_counts())

In [320]:
#def strings_to_lower_in_whole_dataset(df):
for column in df_copy:
    try:
        df_copy[column] = df_copy[column].str.lower()
    except:
        continue

In [321]:
#def strip_strings_in_whole_dataset(df):
for column in df_copy.columns:
    try:
        df_copy[column] = df_copy[column].str.strip()
    except:
        continue

In [322]:
#def rename_columns():
df_copy.rename(columns = {'vehicle_type_code1':'vehicle_type_code_1'}, inplace = True)
df_copy.rename(columns = {'vehicle_type_code2':'vehicle_type_code_2'}, inplace = True)

In [323]:
#def drop_columns_copy(df):
df_copy.drop(columns=['zip_code',
                     'location',
                      'borough',
                     'on_street_name',
                     'off_street_name',
                     'cross_street_name',
                     'collision_id'],inplace=True)

In [324]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date_time                      100000 non-null  datetime64[ns]
 1   latitude                       91965 non-null   float64
 2   longitude                      91965 non-null   float64
 3   number_of_persons_injured      100000 non-null  int64
 4   number_of_persons_killed       100000 non-null  int64
 5   number_of_pedestrians_injured  100000 non-null  int64
 6   number_of_pedestrians_killed   100000 non-null  int64
 7   number_of_cyclist_injured      100000 non-null  int64
 8   number_of_cyclist_killed       100000 non-null  int64
 9   number_of_motorist_injured     100000 non-null  int64
 10  number_of_motorist_killed      100000 non-null  int64
 11  contributing_factor_vehicle_1  99629 non-null   object
 12  contributing_factor_vehicle_2  80757 non-null   object
 13  contributing_factor_vehicle_3  8761 non-null    object
 14  contributing_factor_vehicle_4  2240 non-null    object
 15  contributing_factor_vehicle_5  667 non-null     object
 16  vehicle_type_code_1            99260 non-null   object
 17  vehicle_type_code_2            73411 non-null   object
 18  vehicle_type_code_3            8329 non-null    object
 19  vehicle_type_code_4            2147 non-null    object
 20  vehicle_type_code_5            646 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(8), object(10)
memory usage: 16.0+ MB

In [188]:
df_more_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date_time                      100000 non-null  datetime64[ns]
 1   borough                        64974 non-null   object
 2   zip_code                       64966 non-null   float64
 3   latitude                       91965 non-null   float64
 4   longitude                      91965 non-null   float64
 5   location                       91965 non-null   object
 6   on_street_name                 73991 non-null   object
 7   off_street_name                47125 non-null   object
 8   cross_street_name              25967 non-null   object
 9   number_of_persons_injured      100000 non-null  int64
 10  number_of_persons_killed       100000 non-null  int64
 11  number_of_pedestrians_injured  100000 non-null  int64
 12  number_of_pedestrians_killed   100000 non-null  int64
 13  number_of_cyclist_injured      100000 non-null  int64
 14  number_of_cyclist_killed       100000 non-null  int64
 15  number_of_motorist_injured     100000 non-null  int64
 16  number_of_motorist_killed      100000 non-null  int64
 17  contributing_factor_vehicle_1  99629 non-null   object
 18  contributing_factor_vehicle_2  80757 non-null   object
 19  contributing_factor_vehicle_3  8761 non-null    object
 20  contributing_factor_vehicle_4  2240 non-null    object
 21  contributing_factor_vehicle_5  667 non-null     object
 22  collision_id                   100000 non-null  int64
 23  vehicle_type_code1             99260 non-null   object
 24  vehicle_type_code2             73411 non-null   object
 25  vehicle_type_code_3            8329 non-null    object
 26  vehicle_type_code_4            2147 non-null    object
 27  vehicle_type_code_5            646 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(9), object(15)
memory usage: 21.4+ MB

In [92]:
df_copy.columns

Index(['date_time', 'latitude', 'longitude', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed'],
      dtype='object')

In [325]:
#def copy_nr_of_casualties_column(df):

col_list_to_copy = ['number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed']

col_list_to_edit = ['persons_injured', 'persons_killed',
       'pedestrians_injured', 'pedestrians_killed', 'cyclist_injured',
       'cyclist_killed', 'motorist_injured', 'motorist_killed',
       'motorist_injured', 'motorist_killed']

for column in col_list_to_copy:
    df_copy[column.strip('number_of_')] = df_copy[column].apply(lambda x: x if not pd.isnull(x) else 'None')
    
df_copy.rename(columns = {'torist_injured':'motorist_injured'}, inplace = True)
df_copy.rename(columns = {'torist_killed':'motorist_killed'}, inplace = True)

for column_to_edit in col_list_to_edit:
    df_copy.loc[(df_copy[column_to_edit]) != 0, column_to_edit] = 1


#df_copy.loc[df_copy.persons_injured != 0, 'persons_injured'] = 1
df_copy['cyclist_killed'].value_counts()

0    99975
1       25
Name: cyclist_killed, dtype: int64

In [266]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date_time                      100000 non-null  datetime64[ns]
 1   latitude                       91965 non-null   float64
 2   longitude                      91965 non-null   float64
 3   number_of_persons_injured      100000 non-null  int64
 4   number_of_persons_killed       100000 non-null  int64
 5   number_of_pedestrians_injured  100000 non-null  int64
 6   number_of_pedestrians_killed   100000 non-null  int64
 7   number_of_cyclist_injured      100000 non-null  int64
 8   number_of_cyclist_killed       100000 non-null  int64
 9   number_of_motorist_injured     100000 non-null  int64
 10  number_of_motorist_killed      100000 non-null  int64
 11  contributing_factor_vehicle_1  99629 non-null   object
 12  contributing_factor_vehicle_2  80757 non-null   object
 13  contributing_factor_vehicle_3  8761 non-null    object
 14  contributing_factor_vehicle_4  2240 non-null    object
 15  contributing_factor_vehicle_5  667 non-null     object
 16  vehicle_type_code_1            99260 non-null   object
 17  vehicle_type_code_2            73411 non-null   object
 18  vehicle_type_code_3            8329 non-null    object
 19  vehicle_type_code_4            2147 non-null    object
 20  vehicle_type_code_5            646 non-null     object
 21  persons_injured                100000 non-null  int64
 22  persons_killed                 100000 non-null  int64
 23  pedestrians_injured            100000 non-null  int64
 24  pedestrians_killed             100000 non-null  int64
 25  cyclist_injured                100000 non-null  int64
 26  cyclist_killed                 100000 non-null  int64
 27  motorist_injured               100000 non-null  int64
 28  motorist_killed                100000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(16), object(10)
memory usage: 22.1+ MB

In [326]:
df_copy.number_of_persons_injured.value_counts()

0     72699
1     21011
2      4125
3      1308
4       523
5       196
6        77
7        36
8        14
9         5
11        3
10        2
15        1
Name: number_of_persons_injured, dtype: int64

In [327]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date_time                      100000 non-null  datetime64[ns]
 1   latitude                       91965 non-null   float64
 2   longitude                      91965 non-null   float64
 3   number_of_persons_injured      100000 non-null  int64
 4   number_of_persons_killed       100000 non-null  int64
 5   number_of_pedestrians_injured  100000 non-null  int64
 6   number_of_pedestrians_killed   100000 non-null  int64
 7   number_of_cyclist_injured      100000 non-null  int64
 8   number_of_cyclist_killed       100000 non-null  int64
 9   number_of_motorist_injured     100000 non-null  int64
 10  number_of_motorist_killed      100000 non-null  int64
 11  contributing_factor_vehicle_1  99629 non-null   object
 12  contributing_factor_vehicle_2  80757 non-null   object
 13  contributing_factor_vehicle_3  8761 non-null    object
 14  contributing_factor_vehicle_4  2240 non-null    object
 15  contributing_factor_vehicle_5  667 non-null     object
 16  vehicle_type_code_1            99260 non-null   object
 17  vehicle_type_code_2            73411 non-null   object
 18  vehicle_type_code_3            8329 non-null    object
 19  vehicle_type_code_4            2147 non-null    object
 20  vehicle_type_code_5            646 non-null     object
 21  persons_injured                100000 non-null  int64
 22  persons_killed                 100000 non-null  int64
 23  pedestrians_injured            100000 non-null  int64
 24  pedestrians_killed             100000 non-null  int64
 25  cyclist_injured                100000 non-null  int64
 26  cyclist_killed                 100000 non-null  int64
 27  motorist_injured               100000 non-null  int64
 28  motorist_killed                100000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(16), object(10)
memory usage: 22.1+ MB

# ONE HOT ENCODING

## Cleaning Vehicle Type Columns

In [328]:
def into_categories(df, column):

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['delivery v','truck van','psd', 'delivery t', 'delv','deliv','work van','van t', 'van camper','usps van','delivery','ford van', 'moving van','cargo van',
                                                                            ], "van")

    df["vehicle_type_code_1"] =df["vehicle_type_code_1"].replace(['escooter', 'e-sco', 'e-scoter', 'motor',
                                                                           'scooter', 'motorbike', 'motorcycle',
                                                                           'e-scooter','motorscooter','scoot', 'vespa','motorscoot'   ],"motorbike")

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['e bike', 'e-bik', 'ebike', 'e bik', 'e-bike',
                                                                           'moped', 'bike','minibike','minicycle','e-unicycle', 'dirt bike', 'motor scoo','e revel sc'],"bike")

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['bus','taxi', 'schoolbus','fire','firtruck', 'fire truck', 'school bus','commercial','pedicab','schoo' ],"public vehicles")

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['ambul','ambulance', 'ambulace', 'postal bus','ambu', 'usps', 'fdny ambul','postal tru','gen  ambul','us po','fdny fire',
                                                                             'fire engin','fdny','firetruck','posta','pc','mail truck','ems','fdny ems','white ambu','usps posta','nyc ambula','nyc fd',
                                                                             'ambulence','abulance','fdny #226','fdny engin','ups truck', 'almbulance','usps/govt','fdny truck','leased amb','pumper', 'fdny ladde'
                                                                            ],"service vehicles")

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['truck','tanker', 'flat bed',
                                                                           'rv', 'garbage', 'concrete_mixer', 'concrete mixer', 'tract',
                                                                           'mack', 'box truck', 'tractor truck diesel',
                                                                           'dump', 'garbage or refuse', 'carry all',
                                                                           'tractor truck gasoline', 'tow truck / wrecker', 'chassis cab',
                                                                           'tanker', 'refrigerated van','pick-up truck','multi-wheeled vehicle',
                                                                           'beverage truck','amb','armored truck','tow t', 'tow truck','open body','bulk agriculture', 
                                                                            'refg', 'pick up','trac','garbage tr','trk', 'unk','box t','pick up tr',
                                                                             'enclosed body - removable enclosure','forklift','power shov','pickup with mounted camper',
                                                                             'pick-','picku','drill rig','towtr','bobca','well driller', 'tower','p/sh','4d','ladder 34', '4ds', 'cont', 'ltr',
           'forkl', 'const', 'other', 'parce', 'ut', 'city','hi ta','prks','lunch wagon', '35 ft', 'trlr', 'excav', 'stree','fork', 'tk', 'nys a', 'bs', 'firet', 'appor', 'mobil', 'sprin',
           'power', 'back', 'dirt', 'trl', 'rmp v', 'elect', 'uhaul', 'comm.', 'range', 'bulld','swt','utility','freig', 'mechanical', 'f150xl pic', 'trc',
           'enclosed body - nonremovable enclosure','flatbed fr', 'cat', 'back hoe', 'pick-up tr', 'utility.','bobcat for', '18 wheeler', 'bucket tru', 'cross', 'flatbed','psd'
           'elec. unic', 'usps truck', 'dot equipm', 'freight', 'freig delv','tractor tr', 'front-load', 'courier',
           'freight tr','dilevery t', 'f550', 'forlift', 'message si', 'truck flat','lawnmower', 'wh ford co', 'food truck',
           'mta bus', 'fd ladder', 'tractor', 'slingshot', 'backhoe', 'john deere', 'gator', 'freight fl','utility ve','fork lift', 'boc', 'dump truck','cement tru','cat.'



                                                                          ],"big_trucks")

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['taxi', 'sedan', 'station wagon/sport utility vehicle',
                                                                           'convertible', 'pk', '4 dr sedan', 'passenger vehicle','limo', 'sport utility / station wagon',
                                                                          '3-door','2 dr sedan', 'util','utili', 'comme','motorized home','golf cart','golf','small com veh(4 tires)','suburban','chevy expr','g spc',
                                                                        'dirt', 'message si', 'ford sprin','pas','e-350','winne','police','mini','limou','smart car','e450', 'subn whi','lcomm','f-250','road sweep','chevrolet',
                                                                        'electric s','1c','government','suv','polic', 'mta', 'mta b', 'btm','wineb',    
                                                                           'self',],'car')

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['trailer', 'trail','stake or rack', 'flat','flat rack','livestock rack', 'lift boom','box','backh','light trai','paylo','camper tra','boxtr'],'vehicle-attachment')

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['unknown','unkno','0','unkn'],'unknown')

    df["vehicle_type_code_1"] = df["vehicle_type_code_1"].replace(['oth','skateboard','can','j1','horse','hrse','fusion','motor skat','go kart','pu','com','white','dark color','e skate bo'],'other')
    
    return df

In [330]:
def one_hot_encoding_vehicles(df):
    categories = ['car',
                  'big_trucks',
                  'van',
                  'bike',
                  'motorbike',
                  "service vehicles",
                  "public vehicles",
                  'vehicle-attachment']

    into_categories(df, 'vehicle_type_code1')
    into_categories(df, 'vehicle_type_code2')
    into_categories(df, 'vehicle_type_code_3')
    into_categories(df, 'vehicle_type_code_4')
    into_categories(df, 'vehicle_type_code_5')

    # conditions: are values in vehicle categories?
    condition_categories_one = df['vehicle_type_code_1'].isin(categories)
    condition_categories_two = df['vehicle_type_code_2'].isin(categories)
    condition_categories_three = df['vehicle_type_code_3'].isin(categories)
    condition_categories_four = df['vehicle_type_code_4'].isin(categories)
    condition_categories_five = df['vehicle_type_code_5'].isin(categories)

    # only keep rows with only known vehicle categories
    df_categories = df[condition_categories_one &
                       condition_categories_two &
                       condition_categories_three &
                       condition_categories_four &
                       condition_categories_five]

    # split into dummies: 0 and 1
    df = pd.get_dummies(data=df_categories, columns=['vehicle_type_code_1',
                                                     'vehicle_type_code_2',
                                                     'vehicle_type_code_3',
                                                     'vehicle_type_code_4',
                                                     'vehicle_type_code_5'])
    return df

one_hot_encoding_vehicles(df_copy)

Empty DataFrame
Columns: [date_time, latitude, longitude, number_of_persons_injured, number_of_persons_killed, number_of_pedestrians_injured, number_of_pedestrians_killed, number_of_cyclist_injured, number_of_cyclist_killed, number_of_motorist_injured, number_of_motorist_killed, contributing_factor_vehicle_1, contributing_factor_vehicle_2, contributing_factor_vehicle_3, contributing_factor_vehicle_4, contributing_factor_vehicle_5, persons_injured, persons_killed, pedestrians_injured, pedestrians_killed, cyclist_injured, cyclist_killed, motorist_injured, motorist_killed]
Index: []

# Hot encoding try-outs

In [306]:
#list_to_encode = ['contributing_factor_vehicle_1','contributing_factor_vehicle_2',
#       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
#       'contributing_factor_vehicle_5', 'vehicle_type_code1',
#       'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4',
#       'vehicle_type_code_5']

#def one_hot_encoding(df):
#    for column in list_to_encode:
#        encodingdf = pd.get_dummies(df, columns=[column])
#        df = df.drop(column, inplace = True)
#        df = df.merge(encodingdf, on=column, how='left')

        
#def convert_to_bool(df):        
#    for column in df.columns:
#        if len(df[column].unique()) in [2,3]:
#            df[column] = df[column].astype('bool')
            
                    
#df_copy = pd.get_dummies(data = df_copy, columns=['contributing_factor_vehicle_1','contributing_factor_vehicle_2',
#       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
#       'contributing_factor_vehicle_5'])

                
#one_hot_encoding(df_more_copy)
#convert_to_bool(df_more_copy)
#df_more_copy.info()

# Get one hot encoding of columns B
#df_one_hot = pd.get_dummies(df_more_copy['contributing_factor_vehicle_1'])
# Drop column B as it is now encoded
#df_more_copy = df_more_copy.drop('contributing_factor_vehicle_1',axis = 1)
# Join the encoded df
#df_more_copy = df_more_copy.join(df_one_hot)

#encodingdf = df_more_copy[['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
#       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
#       'contributing_factor_vehicle_5']]
#encodingdf = encodingdf.stack().str.get_dummies().sum(level=0)
#df_more_copy = df_more_copy.join(encodingdf)

KeyError: "None of [Index(['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',\n       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',\n       'contributing_factor_vehicle_5'],\n      dtype='object')] are in the [columns]"

In [331]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date_time                      100000 non-null  datetime64[ns]
 1   latitude                       91965 non-null   float64
 2   longitude                      91965 non-null   float64
 3   number_of_persons_injured      100000 non-null  int64
 4   number_of_persons_killed       100000 non-null  int64
 5   number_of_pedestrians_injured  100000 non-null  int64
 6   number_of_pedestrians_killed   100000 non-null  int64
 7   number_of_cyclist_injured      100000 non-null  int64
 8   number_of_cyclist_killed       100000 non-null  int64
 9   number_of_motorist_injured     100000 non-null  int64
 10  number_of_motorist_killed      100000 non-null  int64
 11  contributing_factor_vehicle_1  99629 non-null   object
 12  contributing_factor_vehicle_2  80757 non-null   object
 13  contributing_factor_vehicle_3  8761 non-null    object
 14  contributing_factor_vehicle_4  2240 non-null    object
 15  contributing_factor_vehicle_5  667 non-null     object
 16  vehicle_type_code_1            99260 non-null   object
 17  vehicle_type_code_2            73411 non-null   object
 18  vehicle_type_code_3            8329 non-null    object
 19  vehicle_type_code_4            2147 non-null    object
 20  vehicle_type_code_5            646 non-null     object
 21  persons_injured                100000 non-null  int64
 22  persons_killed                 100000 non-null  int64
 23  pedestrians_injured            100000 non-null  int64
 24  pedestrians_killed             100000 non-null  int64
 25  cyclist_injured                100000 non-null  int64
 26  cyclist_killed                 100000 non-null  int64
 27  motorist_injured               100000 non-null  int64
 28  motorist_killed                100000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(16), object(10)
memory usage: 22.1+ MB

In [332]:
df_copy['vehicle_type_code_1'].unique()

array(['car', 'motorbike', 'public vehicles', 'big_trucks',
       'service vehicles', nan, 'bike', 'van', 'vehicle-attachment',
       'unknown', 'elec. unic'], dtype=object)

In [333]:
df_copy.vehicle_type_code_1.value_counts().sort_values(ascending=False).tail(10)

car                   83301
big_trucks             6754
public vehicles        4672
bike                   1807
motorbike              1406
van                     628
service vehicles        577
vehicle-attachment      104
unknown                  10
elec. unic                1
Name: vehicle_type_code_1, dtype: int64

In [334]:
df_copy.head()

,date_time,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed
0,2017-04-18 23:10:00,40.536728,-74.193344,0,0,0,0,0,0,0,0,driver inattention/distraction,unspecified,NaN,NaN,NaN,car,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
1,2017-05-06 13:00:00,40.829052,-73.850380,1,0,1,0,0,0,0,0,failure to yield right-of-way,NaN,NaN,NaN,NaN,car,NaN,NaN,NaN,NaN,1,0,1,0,0,0,0,0
2,2017-04-27 17:15:00,40.677303,-73.804565,0,0,0,0,0,0,0,0,driver inattention/distraction,unspecified,NaN,NaN,NaN,car,sedan,NaN,NaN,NaN,0,0,0,0,0,0,0,0
3,2017-05-09 20:10:00,40.624958,-74.145775,1,0,0,0,0,0,1,0,unspecified,unspecified,unspecified,NaN,NaN,motorbike,sedan,bus,NaN,NaN,1,0,0,0,0,0,1,0
4,2017-04-18 14:00:00,40.828846,-73.903120,0,0,0,0,0,0,0,0,driver inattention/distraction,unspecified,NaN,NaN,NaN,car,station wagon/sport utility vehicle,NaN,NaN,NaN,0,0,0,0,0,0,0,0

In [285]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date_time                      100000 non-null  datetime64[ns]
 1   latitude                       91965 non-null   float64
 2   longitude                      91965 non-null   float64
 3   number_of_persons_injured      100000 non-null  int64
 4   number_of_persons_killed       100000 non-null  int64
 5   number_of_pedestrians_injured  100000 non-null  int64
 6   number_of_pedestrians_killed   100000 non-null  int64
 7   number_of_cyclist_injured      100000 non-null  int64
 8   number_of_cyclist_killed       100000 non-null  int64
 9   number_of_motorist_injured     100000 non-null  int64
 10  number_of_motorist_killed      100000 non-null  int64
 11  contributing_factor_vehicle_1  99629 non-null   object
 12  contributing_factor_vehicle_2  80757 non-null   object
 13  contributing_factor_vehicle_3  8761 non-null    object
 14  contributing_factor_vehicle_4  2240 non-null    object
 15  contributing_factor_vehicle_5  667 non-null     object
 16  vehicle_type_code_1            99260 non-null   object
 17  vehicle_type_code_2            73411 non-null   object
 18  vehicle_type_code_3            8329 non-null    object
 19  vehicle_type_code_4            2147 non-null    object
 20  vehicle_type_code_5            646 non-null     object
 21  persons_injured                100000 non-null  int64
 22  persons_killed                 100000 non-null  int64
 23  pedestrians_injured            100000 non-null  int64
 24  pedestrians_killed             100000 non-null  int64
 25  cyclist_injured                100000 non-null  int64
 26  cyclist_killed                 100000 non-null  int64
 27  motorist_injured               100000 non-null  int64
 28  motorist_killed                100000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(16), object(10)
memory usage: 22.1+ MB

# Matthew's Factor Definition

In [335]:
def narrowing_down_factor(factor):
    distraction = ['Driver Inattention/Distraction','Passenger Distraction','Fell Asleep','Outside Car Distraction',
                   'Fatigued/Drowsy','Cell Phone (hand-Held)','Using On Board Navigation Device',
                   'Tinted Windows','Eating or Drinking', 'Other Electronic Device', 'Cell Phone (hands-free)',
                   'Listening/Using Headphones']
    driver_mistake = ['Following Too Closely','Failure to Yield Right-of-Way','Backing Unsafely',
                      'Passing or Lane Usage Improper','Passing Too Closely','Unsafe Lane Changing',
                      'Turning Improperly','Driver Inexperience', 'Failure to Keep Right',
                      'Driverless/Runaway Vehicle', 'Oversized Vehicle']
    illegal_action = ['Unsafe Speed','Alcohol Involvement','Traffic Control Disregarded','Aggressive Driving/Road Rage',
                      'Drugs (illegal)']
    other_involvement =  ['Other Vehicular','Reaction to Uninvolved Vehicle', 'Animals Action',
                          'View Obstructed/Limited','Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
                           'Glare','Vehicle Vandalism']
    bad_road_infrastructure = ['Pavement Slippery', 'Obstruction/Debris','Pavement Defective',
                               'Other Lighting Defects']
    car_failures = ['Brakes Defective', 'Steering Failure', 'Tire Failure/Inadequate',
                    'Traffic Control Device Improper/Non-Working', 'Lane Marking Improper/Inadequate',
                    'Tow Hitch Defective','Headlights Defective', 'Shoulders Defective/Improper',
                    'Windshield Inadequate']
    medical = ['Lost Consciousness', 'Illnes','Accelerator Defective','Physical Disability','Prescription Medication']
    if factor in medical:
        return "medical"
    elif factor in car_failures:
        return "car_failure"
    elif factor in bad_road_infrastructure:
        return "bad_road_infrastructure"
    elif factor in other_involvement:
        return "other_involvement"
    elif factor in illegal_action:
        return "illegal_action"
    elif factor in driver_mistake:
        return "driver_mistake"
    elif factor in distraction:
        return "distraction"

df_copy['contributing_factor_vehicle_1'] = df_copy['contributing_factor_vehicle_1'].apply(narrowing_down_factor)
#df_copy['contributing_factor_vehicle_2'] = df_copy['contributing_factor_vehicle_2'].apply(narrowing_down_factor)
#df_copy['contributing_factor_vehicle_3'] = df_copy['contributing_factor_vehicle_3'].apply(narrowing_down_factor)
#df_copy['contributing_factor_vehicle_4'] = df_copy['contributing_factor_vehicle_4'].apply(narrowing_down_factor)
#df_copy['contributing_factor_vehicle_5'] = df_copy['contributing_factor_vehicle_5'].apply(narrowing_down_factor)

In [337]:
df_copy.tail()

,date_time,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed
99995,2019-11-20 15:00:00,40.618893,-73.946420,0,0,0,0,0,0,0,0,None,NaN,NaN,NaN,NaN,car,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
99996,2019-12-01 11:22:00,40.723380,-73.814750,0,0,0,0,0,0,0,0,None,unspecified,NaN,NaN,NaN,car,station wagon/sport utility vehicle,NaN,NaN,NaN,0,0,0,0,0,0,0,0
99997,2019-11-21 21:30:00,40.710820,-73.968530,0,0,0,0,0,0,0,0,None,unspecified,NaN,NaN,NaN,car,box truck,NaN,NaN,NaN,0,0,0,0,0,0,0,0
99998,2019-11-18 17:28:00,40.631180,-73.928185,0,0,0,0,0,0,0,0,None,unspecified,NaN,NaN,NaN,car,bus,NaN,NaN,NaN,0,0,0,0,0,0,0,0
99999,2019-11-17 20:42:00,40.750760,-73.968430,0,0,0,0,0,0,0,0,None,driver inattention/distraction,NaN,NaN,NaN,car,station wagon/sport utility vehicle,NaN,NaN,NaN,0,0,0,0,0,0,0,0

In [338]:
df_copy.shape

(100000, 29)

# Write it to a CSV

In [ ]:
df_copy.to_csv('new_york_crashes', sep=',', encoding='utf-8')